profiles {
    local {
        process.executor = "local"
    }
    cluster {
        process.executor = "pbs"
        process.clusterOptions = "-S /bin/bash -v PATH=$HOME/snake/bin:$PATH"
    }
}

params {

    run_id = "mrsa.data"
    out_dir = "/rdsi/vol08/Q0220/Eike/pathfinder/mrsa/batch_7/analysis"

    file_dir = "/rdsi/vol08/Q0220/Eike/pathfinder/mrsa/batch_7/files"
    file_pattern = "*_{1,2}"
    file_extension = ".fastq.gz"

    resource_dir = "$HOME/code/pathfinder/resources"

    conda_survey = "$HOME/snake/envs/pf-query"
    conda_mykrobe = "$HOME/snake/envs/pf-mykrobe"
    conda_kleborate = "$HOME/snake/envs/pf"

    phred = "-phred33"
    leading = 3
    trailing = 3
    min_len = 36
    sliding_window = "4:15"
    adapters = "TruSeq3-PE.fa"
    minikraken = "minikraken2"
    reference = ""
    mykrobe = ""
    assembler = "skesa"
    depth = 100
    genus = ""
    kingdom = "Bacteria"
    abricate_dbs = ["resfinder", "vfdb", "plasmidfinder"]

    mykrobe = false
    kleborate = true

    mash = false

}

process {

    errorStrategy = "ignore"

    withLabel: mykrobe {
        conda = "$params.conda_mykrobe"
    }
    withLabel: survey {
        conda = "$params.conda_survey"
    }
    withLabel: kleb {
        conda = "$params.conda_kleborate"
    }
    withLabel: bananas {
        cpus = 64
        memory = "128G"
        time = "04:00:00"
    }
    withLabel: insane {
        cpus = 32
        memory = "64G"
        time = "8h"
    }
    withLabel: crazy {
        cpus = 16
        memory = "32G"
        time = "8h"
    }
    withLabel: high {
        cpus = 8
        memory = "16G"
        time = "8h"
    }
    withLabel: medium_ram {
        cpus = 4
        memory = "8G"
        time = "2h"
    }
    withLabel: medium {
        cpus = 4
        memory = "4G"
        time = "2h"
    }
    withLabel: low_mem {
        cpus = 2
        memory = "4G"
        time = "2h"
    }
    withLabel: low {
        cpus = 2
        memory = "2G"
        time = "2h"
    }
    withLabel: minimal {
        cpus = 1
        memory = "1G"
        time = "1h"
    }

}
