profiles {
    local {
        process.executor = "local"
    }
    cluster {
        process.executor = "pbspro"
        process.clusterOptions = ""
    }
}

params {

    outdir = "analysis"

    fastq = "*_{1,2}.fastq.gz"

    resources = "$HOME/pf-resources"

    phred = "-phred33"
    leading = 3
    trailing = 3
    min_len = 36
    sliding_window = "4:15"
    adapters = "TruSeq3-PE.fa"
    minikraken = "minikraken2"
    reference = "h37rv.fasta"
    mykrobe_other = "tb"
    assembler = "skesa"
    depth = 100
    genus = ""
    kingdom = "Bacteria"
    abricate_dbs = ["resfinder", "vfdb", "plasmidfinder"]

    mash = false
    snippy = false
    mykrobe = false
    kleborate = true
    sccion = false

    conda = "$HOME/conda/envs"

}

process {

    scratch = true
    errorStrategy = "ignore"

    withLabel: trimmomatic {
        conda = "$params.conda/pf-trimmomatic"
        cpus = 4
        memory = "8G"
        time = "2h"
    }
    withLabel: kraken2 {
        conda = "$params.conda/pf-kraken"
        cpus = 4
        memory = "16G"
        time = "2h"
    }
    withLabel: mykrobe {
        conda = "$params.conda/pf-mykrobe"
        cpus = 2
        memory = "8G"
        time = "2h"
    }
    withLabel: snippy {
        conda = "$params.conda/pf-snippy"
        cpus = 8
        memory = "16G"
        time = "2h"
    }
    withLabel: shovill {
        conda = "$params.conda/pf-shovill"
        cpus = 4
        memory = "16G"
        time = "2h"
    }
    withLabel: prokka {
        conda = "$params.conda/pf-prokka"
        cpus = 4
        memory = "8G"
        time = "2h"
    }
    withLabel: mash {
        conda = "$params.conda/pf-mash"
        cpus = 2
        memory = "2G"
        time = "1h"
    }
    withLabel: abricate {
        conda = "$params.conda/pf-abricate"
        cpus = 2
        memory = "2G"
        time = "1h"
    }
    withLabel: mlst {
        conda = "$params.conda/pf-mlst"
        cpus = 2
        memory = "2G"
        time = "1h"
    }
    withLabel: kleborate {
        conda = "$params.conda/pf-kleborate"
        cpus = 2
        memory = "2G"
        time = "1h"
    }
    withLabel: sccion {
        conda = "$params.conda/pf-sccion"
        cpus = 2
        memory = "4G"
        time = "1h"
    }

}
